langchain
python-dotenv
ipykernel
langchain-community
pypdf
validators==0.28.1
streamlit
pymupdf
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
langchain-groq
openai
pandas
duckdb
sentence_transformers
chromadb
faiss-cpu
SQLAlchemy
bs4
arxiv
wikipedia
duckduckgo_search==5.3.1b1
